---
title: Contents available while offline
permalink: offline.html
---

<div class="notification notification-success">
  <div class="wrap">
    <p class="notification__icon">
      <svg class="icon"><use xlink:href="#symbol-offline" /></svg>
    </p>
    <p class="notification__message">
      Even if you're not connected, you can read some pages, including this one
      <a href="/a-propos/">about me</a>.
    </p>
  </div>
</div>
