@charset "utf-8";

/* CSS DIRECTORY
	1. =GLOBAL SETTINGS
  2. =HEADER & FOOTER
  3. =TYPOGRAPHY
	4. =LOGO
  5. =NAVIGATION
*/

/* GLOBAL SETTINGS
   ----------------------------- */

/* = Colors = */

:root {
  --background-color: var(--color-primary-dark);

  --base-font-name: "Marianne";
  --title-font-name: var(--base-font-name);
  --base-primary: 240;
  --base-secondary: calc(var(--base-primary) + 125);
  --link-color: var(--color-primary);
  --text-color: hsl(0 0% var(--l-0));
  --text-color-lighter: hsl(0 0% var(--l-10));
  --title-color: var(--text-color);
  --background-color-selection: var(--color-primary-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-body: #212529;
  }

  body {
    font-weight: 400;
  }

  strong,
  b,
  th,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }
}

/* = Very basic styles = */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  box-sizing: border-box;
  height: -webkit-fill-available;
  word-spacing: 1px;
  scroll-behavior: smooth;

  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  color: var(--text-color, --color-grey-dark);
  background-color: var(--background-color-body, #fff);
}

/* = Error = */

body.error-page {
  color: #fff;
  background-color: var(--color-grey-dark);
  background-size: cover;
}

/* HEADER & FOOTER
   ----------------------------- */

/* = main = */

main {
  flex-grow: 1;
}

/* = header = */

header {
  margin-bottom: calc(var(--baseline) * 2);
  padding: 0 var(--baseline);
  border-bottom: 1px solid #dedede;
}

/* = section = */

section {
  margin: var(--baseline) auto 0;
  padding: var(--baseline) 0;
}

.section-dark {
  color: var(--background-color-body, #fff);
  background-color: var(--color-primary);
}

section h2,
section h3 {
  color: currentColor;
}

p + pre {
  margin-top: -1.5em;
}

article h2 + time,
time + p,
article h2 + .text-center {
  display: block;
  margin: -1.5rem auto 1.5rem;
  width: 100%;
  font-size: 90%;
  color: var(--color-grey);
}

/* = Divider = */

hr {
  margin: var(--baseline) 0;
  width: auto;
  height: 0;
  border: none;
  border-top: 2px dotted var(--color-grey-light);
  border-right: 90px solid transparent;
  border-left: 90px solid transparent;
  background: none;
}

.divider-strong {
  margin: calc(var(--baseline) * 1.5) 0;
  width: 100%;
  border: none;
  border-top: 2px dashed var(--color-primary-dark);
}

.divider,
.divider:before {
  border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
}

.divider {
  overflow: hidden;
  margin: calc(var(--baseline) * 2) auto;
  max-width: 80%;
  height: 4em;
  border: none;
  background: transparent;
}

.divider:before {
  position: relative;
  content: "";
  top: 82px;
  display: inline-block;
  margin: 0 auto;
  width: 80%;
  height: 2em;
  box-shadow: var(--enable-shadows, 50px -10px 40px hsla(var(--base-primary), var(--base-sat), var(--base-light), 1));
}

/* TYPOGRAPHY
   ----------------------------- */

/* = Link = */

.anchor {
  position: relative;
  margin-right: 5px;
  margin-left: -21px;
  color: var(--text-color);

  scroll-margin-top: 100px;
}

.anchor svg {
  fill: var(--text-color);
}

.link-more {
  display: inline;
  font-weight: 600;
  transition: background-size 0.3s ease-in-out;
  text-decoration: underline;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--text-color);
  background-image: linear-gradient(transparent calc(100% - 16%), var(--color-primary) calc(100% - 16%), var(--color-primary) calc(100% - 2%), transparent 2%);
  background-repeat: no-repeat;
  background-size: 0 100%;
  will-change: background-size;
}

.link-more:hover {
  background-size: 100% 100%;
}

.link-back {
  text-transform: unset;
}

/* Placeholder */

::-moz-placeholder {
  opacity: 1;
  color: var(--color-grey);
}

::-webkit-input-placeholder {
  color: var(--color-grey);
}

h1 + time,
h3 + time {
  display: block;
  margin-top: -1.5rem;
}

.note {
  margin-bottom: var(--baseline);
  padding: var(--baseline) var(--baseline) calc(var(--baseline) / 2);
  font-size: var(--smaller);
  color: var(--text-color);
  border: 1px solid var(--color-primary-light);
  background: var(--color-primary-verylight);
}

.note p,
.note ul {
  margin-bottom: calc(var(--baseline) / 2);
}

/* LOGO
   ----------------------------- */

.site-logo img {
  max-width: 100px;
  height: initial;
}

/* NAVIGATION
   ----------------------------- */

.nav {
  font-size: var(--smaller);
}

.nav h2,
.nav h3 {
  margin: calc(var(--baseline) / 2) 0 0;
  padding: 0;
}

.nav p {
  margin: 0;
  font-weight: bold;
}

.nav li {
  margin: calc(var(--baseline) / 2) calc(var(--baseline) / 4) calc(var(--baseline) / 2) 0;
}

.nav a {
  color: currentColor;
  border-bottom: 2px solid transparent;
}

.nav a:hover {
  text-decoration: none;
}

/* = Nav main = */

.nav-main ul {
  display: flex;
  justify-content: flex-end;
}

.nav-main a {
  display: block;
  padding: 0 calc(var(--baseline) / 2) 0;
  text-decoration: none;
}

.nav-main a:hover {
  text-decoration: none;
  border-bottom: 2px solid var(--color-grey-verylight);
}

.nav-main [aria-current] {
  color: var(--color-grey-veryligh);
  border-bottom: 2px solid var(--color-grey-verylight);
}

/* = Nav footer = */

.nav-footer {
  margin: auto;
  text-align: center;
}

/* CARD
   ----------------------------- */

.card {
  padding: var(--baseline);
  color: #666;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
}

.card h3 a {
  text-decoration: none;
  color: #000;
}

.card h3 a:hover {
  text-decoration: underline;
}

.card-inline.card-shadow {
  box-shadow: var(--enable-shadows, inset 0 -0.25rem 0 0 var(--color-primary));
}

.grid > ul {
  margin: 0;
  padding-left: 1em;
}

/* Figure
   ----------------------------- */

figure.rounded {
  display: grid;
  overflow: hidden;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  object-fit: contain;
  border: 1px solid var(--color-grey-verylight);
  border-radius: 50%;
}

.rounded img {
  height: 100%;
  max-height: 1000em;
  object-fit: none;
}

/* Footer
   ----------------------------- */

/* = Footer = */

footer {
  margin: var(--baseline) 0 0;
  padding: var(--baseline);
  text-align: center;
  color: var(--color-grey-verylight);
  background-color: #0a0a0a;
}

footer a {
  color: #fff;
}

/* Task list for markdown checklist
   ----------------------------- */

.checkbox {
  margin-left: 1rem;
}

.checkbox + br {
  display: none;
}

.task-list {
  list-style-type: none;
}

/* Counter & counter color
   ----------------------------- */

.critical > *:first-child {
  max-width: 30px;
  text-align: center;
}
.emoticon {
  display: inline-block;
  margin-right: 0.25rem;
  vertical-align: middle;
  color: transparent;
  text-shadow: 0 0 0 #fff;
}

.counter {
  display: inline-grid;
  align-items: center;
  padding: calc(var(--baseline) / 8) calc(var(--baseline) / 4);
  font-family: Futura, Tahoma, Helvetica, Arial, sans-serif;
  color: #fff;
  background: var(--color-score,#204f93);
  background-image: radial-gradient(rgba(255,255,255,0.1) 5%, transparent 10%);
  background-position: 0 0, 100px 100px;
  background-size: 20px 20px;
}

.good.counter,
.dataset-0 rect {
  background: var(--color-score-good,#307f5c);
  background-image: repeating-linear-gradient(60deg, transparent, transparent 10%, rgba(255,255,255,0.1) 10%, rgba(255,255,255,0.1) 11%,rgba(0,0,0,0.05) 11%,rgba(0,0,0,0.05) 11.3%);
}

.bad.counter,
.dataset-1 rect {
  background: var(--color-score-bad,#ac3636);
  background-image: repeating-linear-gradient(-45deg, var(--color-score-bad,#ac3636), var(--color-score-bad,#ac3636) 10%, rgba(0,0,0,0.05) 10%, rgba(0,0,0,0.05) 10.3%,rgba(255,255,255,0.1) 10.3%,rgba(255,255,255,0.1) 14%);
}

.medium.counter,
.dataset-1 rect {
  background: var(--color-score-medium,#dd9c0a);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10%, rgba(255,255,255,0.1) 10%, rgba(255,255,255,0.1) 12%),repeating-linear-gradient(-45deg, transparent, transparent 10%, rgba(255,255,255,0.1) 10%, rgba(255,255,255,0.1) 12%);
}

.verygood {
  background: var(--color-score-verygood,#30d42a);
}

.verybad {
  background: var(--color-score-verybad,#722);
}

.medal span {
  font-weight: bold;
}

.medal b {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0.2em;
  width: 3em;
  height: 3em;
  font-weight: bold;
  color: var(--background-color-body, #fff);
  border-radius: 50%;
  background: var(--color-primary-dark);
}

/* = Scores = */

.scores {
  display: grid;
  overflow: hidden;
  align-items: stretch;
  margin: 0;
}

.scores + .scores {
  padding-top: 0;
}

.scores ul {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 calc(var(--baseline) / -2);
  padding: 0;
}

.scores li {
  display: grid;
  align-items: center;
  flex: 1;
  justify-content: space-around;
  margin: 0 calc(var(--baseline) / 2) var(--baseline);
  min-width: 8rem;
  min-height: 5rem;
  list-style: none;
}

.scores > * {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1em 0;
}

/* = Badge = */

.badge {
  display: inline-block;
  padding: 0.2em 0.3em;
  font-size: 0.5em;
  color: var(--color-grey-verylight);
  border-radius: 5px;
  vertical-align: middle;
}

/* = Dot = */

.dot {
  display: inline-block;
  clip: rect(0 0 0 0);
  margin-right: 3px;
  width: 20px;
  height: 20px;
  font-size: 0;
  border-radius: 50%;
  background: var(--color-primary-dark);
}

.dot-missed {
  background: var(--color-primary-light);
}

/* Js plugin
   ----------------------------- */


/* = Frappe = */

.chart-container {
  background: #fff;
}

/* = Lighbox = */

.sl-overlay {
  background: #000 !important;
}

.sl-close,
.sl-counter,
.sl-navigation button {
  font-size: 2rem !important;
  color: #fff !important;
}
