/*
// Utility classes
*/

/* Display */

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.rounded {
  border-radius: 50%;
}

/* Position */

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-top {
  top: 0;
}

.p-bottom {
  bottom: 0;
}

.p-left {
  left: 0;
}

.p-right {
  right: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.w-100 {
  width: 100%;
}

/* Text */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* Font */

.smaller {
  font-size: var(--smaller);
}

.bigger {
  font-size: var(--bigger);
}

.small-caps {
  font-variant: small-caps;
}

/* Margin */

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: calc(var(--baseline) / 2);
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: calc(var(--baseline) / 2);
}

.mr-1 {
  margin-right: calc(var(--baseline) / 2);
}

/* Width */

.w-100 {
  width: 100px;
}

.w-120 {
  width: 120px;
}

/* Line-height */

.lh-1 {
  line-height: 1.25;
}

/* Link */

.link-text {
  color: var(--text-color);
  text-decoration: none;
}

.enlarge-link {
  position: relative;
}

.enlarge-link a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline-offset: 2px;
  outline-style: inherit;
  outline-color: inherit;
  outline-width: 2px;
  z-index: 1;
}

/* Color */

.text-color {
  color: var(--text-color);
}

.text-color-light {
  color: #fff;
}

/* Toggling content */
[hidden], .hide,
.d-none {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

/* Scores Colors */

.good {
  background: var(--color-score-good,#307f5c);
}

.medium {
  background: var(--color-score-medium,#dd9c0a);
}

.normal {
  background: var(--color-score,#204f93);
}

.none {
  background: #222;
}

.bad {
  background: var(--color-score-bad,#ac3636);
}

.verybad {
  background: var(--color-score-verybad,#510000);
}
