---
layout: default
---
<div class="wrapper">
  <h1>{{ title }}</h1>
  <time> Le
  {% assign dy = page.date | date: "%a" %}{% case dy %}{% when "Mon" %}lundi{% when "Tue" %}mardi{% when "Wed" %}mercredi{% when "Thu" %}jeudi{% when "Fri" %}vendredi{% when "Sat" %}samedi{% when "Sun" %}dimanche{% else %}{{ dy }}{% endcase %}
  {% assign d = page.date | date: "%d"  %}{% case d %}{% when '1' %}{{ d }}er{% else %}{{ d }}{% endcase %}
  {% assign m = page.date | date: "%m" %}{% case m %}{% when '01' %}janvier{% when '02' %}février{% when '03' %}mars{% when '04' %}avril{% when '05' %}mai{% when '06' %}juin{% when '07' %}juillet{% when '08' %}août{% when '09' %}septembre{% when '10' %}octobre{% when '11' %}novembre{% when '12' %}décembre{% else %}{{ m }}{% endcase %}
  </time>

  {% if persons %}
  <h2>Présents</h2>
  <ul>
  {%- for person in persons -%}
    {%- assign value = directory | where: "name", person -%}
    {%- assign person = value[0] -%}
    <li>{% if person %}<a href="/directory#{{ person.name | slugify }}">{% endif%}{{ person.name }}{% if person %}</a>{% endif%}{% if person.ministry %} - {{ person.ministry }}{% endif %}{% if person.job != "" %} - {{ person.job }}{% endif %}</li>
  {%- endfor -%}
  </ul>
  {%- endif -%}
  {{ content }}
</div>
