---
layout: default
pagination:
    data: site
    size: 1
    alias: site
permalink: "audits/{{ site.name | slugify }}/"
---
<h1 class="text-center mb-1">{{ site.name }}</h1>
<section class="section text-center">
<ul class="list-unstyled" role="navigation">
{% for item in site.websites %}
  <li class="enlarge-link card-inline card-shadow">
    {% if item[1].audits.accessibility.rgaa[0].score %}
    <h2 class="h4"><a class="link-text" href="/audits/{{ site.name | slugify }}/{{ item[0] | slugify }}/">
    {{ item[1].title }}</a></h2>
    <div class="flex flex-gap align-items-center text-center lh-1">
      <p class="mb-0">
      <small class="text-center d-block p-relative">{% if item[1].audits.accessibility.rgaa[0].score %}<b class="h3">{{ item[1].audits.accessibility.rgaa[0].score.compliance }}%</b><br>de&nbsp;conformité{% if item[1].audits.accessibility.rgaa[0].score.criteria.total < 82 %} <span class="p-absolute p-top p-right badge bad d-inline-block">{{ item[1].audits.accessibility.rgaa[0].score.criteria.total }}</span>{% endif %}{% endif %}</small>
      </p>
    </div>
    {% endif %}
  </li>
{% endfor %}
</ul>
</section>
